In [1]:
from datetime import datetime, timedelta
import psycopg2
import pandas as pd
from datetime import datetime, timedelta
from bson import ObjectId
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from sshtunnel import SSHTunnelForwarder
from dbutils.pooled_db import PooledDB

# 전체 대출 정보

In [2]:
ssh_host = 'api.trustyapp.io'
ssh_username = 'ubuntu'
ssh_pem_file = 'ng-prod.pem'
database_host = '127.0.0.1'  # SSH 터널을 통해 localhost로 접근
database_name = 'trusty'
database_username = 'server'
database_password = 'ygFAhsyTMDzB21VdLTnoq7djxwjDNzuc9yPGukm73otXER8ihD'

server = SSHTunnelForwarder(
    (ssh_host, 22),  # SSH 서버 주소와 포트
    ssh_username=ssh_username,
    ssh_pkey=ssh_pem_file,  # Private key 파일 경로
    remote_bind_address=(database_host, 5432)  # 원격 MySQL 서버 주소와 포트
)

server.start()

conn = psycopg2.connect(
    host='127.0.0.1',  # localhost를 통해 SSH 터널로 접속
    user=database_username,
    password=database_password,
    database=database_name,
    port=server.local_bind_port  # sshtunnel이 자동으로 할당한 포트
)
cursor = conn.cursor()

In [3]:
# 대출 정보
total_loan_qry = """
                SELECT "createdAt", "id", "interest", "amount", "status", "repaymentDueDate", "repaidAt", "userId", "bankAccountId" 
                FROM "loan"
                """

cursor.execute(total_loan_qry)
results = cursor.fetchall()

df_loan_total = pd.DataFrame(results)
df_loan_total.columns = [
    "createdAt", "id","interest", "amount", "status", "repaymentDueDate", "repaidAt", "userId", "bankAccountId"
]

#==================
#유저 정보 추가
### user 테이블에서 필요한 컬럼을 선택하여 데이터프레임 생성
user_query = """
    SELECT "id", "lastName", "firstName", "bvn", "gender", "birthDate", "address", "cbKey", "csChannelId"
    FROM "user"
    WHERE "bvn" IS NOT NULL 
"""
cursor.execute(user_query)
user_results = cursor.fetchall()

In [4]:

### user 데이터프레임 생성
df_user = pd.DataFrame(user_results, columns=['id', 'lastName', 'firstName', 'bvn', 'gender', 'birthDate', 'address', 'cbKey', 'csChannelId'])

# df_loan_total과 df_user를 userId를 기준으로 병합
df_loan_total = df_loan_total.merge(df_user, left_on='userId', right_on='id', how='left')

### cbKey 컬럼을 int로 변환
df_loan_total['cbKey'] = df_loan_total['cbKey'].astype(int, errors='ignore')
df_loan_total.drop(columns=['id_y'], inplace=True)
df_loan_total.drop(columns=['id_x'], inplace=True)


#====================
#은행정보 추가
# bank_account 테이블에서 accountNumber 컬럼을 선택하여 데이터프레임 생성
bank_account_query = """
    SELECT "id", "accountNumber"
    FROM bank_account
"""
cursor.execute(bank_account_query)
bank_account_results = cursor.fetchall()

# bank_account 데이터프레임 생성
df_bank_account = pd.DataFrame(bank_account_results, columns=['id', 'accountNumber'])

# df_loan_total과 df_bank_account를 bankAccountId를 기준으로 병합
df_loan_total = df_loan_total.merge(df_bank_account, left_on='bankAccountId', right_on='id', how='left')
df_loan_total.drop(columns=['id'], inplace=True)

In [5]:
# 쿼리 다 쓰면 ssh 터널 닫기
conn.close()
server.stop()

In [6]:
df_loan_total

,createdAt,interest,amount,status,repaymentDueDate,repaidAt,userId,bankAccountId,lastName,firstName,bvn,gender,birthDate,address,cbKey,csChannelId,accountNumber
0,2024-10-30 08:36:50.120390+00:00,1,10,success,2024-11-13 23:00:00+00:00,2024-10-31 08:10:15.168000+00:00,5,22,Adeyemi,Kayode,22324835070,Male,1992-12-13,4 Imam Dauda Street Isuti Road Egan,3,2349169982478,7061100721
1,2024-11-14 08:01:13.212873+00:00,250,5000,success,2024-11-28 23:00:00+00:00,2024-11-25 07:45:59.639000+00:00,11,25,Akinyele,Mustopha,22402486954,Male,1997-09-27,3 opeloyeru street ikotun egbe,1,2349044965581,9044965581
2,2025-01-06 21:43:27.503147+00:00,250,5000,success,2025-01-20 23:00:00+00:00,2025-01-19 13:25:13.745000+00:00,491,417,Isa,Zakari,22492862247,Male,2000-09-27,BLOCK 15 FLAT 7 OSHODI STREET DOLPHIN ESTATE I...,12,2348065283799,8065283799
3,2024-11-23 21:46:05.628470+00:00,250,5000,success,2024-12-07 23:00:00+00:00,2024-12-05 07:30:18.852000+00:00,134,119,Onoshakpokae,Martins,22215647140,Male,1995-04-11,206 IKOTUN ROAD CALVARY,4,2348142889460,8142889460
4,2024-12-26 07:05:53.636320+00:00,250,5000,success,2025-01-09 23:00:00+00:00,NaT,446,369,Oguntoyinbo,Sulaimon,22204235868,Male,1986-04-13,12 musa oyinbo,10,2348085557219,8085557219
5,2025-01-08 03:45:38.428078+00:00,250,5000,success,2025-01-22 23:00:00+00:00,NaT,506,437,Okorie,Maduabuchi,22297991913,Male,1974-08-22,None,22,2349033705225,9033705225
6,2025-01-13 07:10:39.142965+00:00,250,5000,success,2025-01-27 23:00:00+00:00,2025-01-23 07:29:59.055000+00:00,571,516,Omobolanle,Abdulkareem,22475166744,Female,2000-02-29,3 safurat adejumo street igesu ayobo,35,2349029208813,8108718362
7,2025-01-11 01:13:34.199234+00:00,250,5000,success,2025-01-25 23:00:00+00:00,2025-01-31 05:32:58.045000+00:00,488,415,Njoku,Daniel,22144967478,Male,1992-05-03,9 Bolanle Odekoya Owutu Ikorodu Lagos,11,2348131983957,8131983957
8,2025-01-09 13:33:10.177016+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-23 06:43:37.436000+00:00,552,498,Jamiu,Kamiludeeen,22492778870,Male,1999-09-21,None,23,2348124039599,8124039599
9,2025-01-14 06:22:52.473921+00:00,250,5000,success,2025-01-28 23:00:00+00:00,2025-01-31 11:42:58.917000+00:00,600,540,Dehinbo,Ebenezer,22644848138,Male,2003-11-27,16 OladejoStreet Ikorodu Lagos,38,2347066945524,8107563099
10,2025-01-09 10:47:04.984879+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-22 05:44:36.720000+00:00,7,338,Oyetunde,Boluwatife,22496456697,Male,2001-05-22,11 EKUNDAYO CLOSE TOLL GATE,32,2347014348260,7033026515
11,2024-12-26 13:16:21.161326+00:00,250,5000,success,2025-01-09 23:00:00+00:00,2025-01-02 02:26:47.131000+00:00,439,361,Ashibuogwu,Ifeanyi,22376282116,Male,1991-01-07,None,13,2348180862528,7033221353
12,2024-12-19 09:41:39.565672+00:00,250,5000,success,2025-01-02 23:00:00+00:00,2025-01-02 02:28:26.657000+00:00,282,222,Udofia,Imoh,22146456439,Male,1992-03-29,1 oluwatoyin street agiliti mile 12,7,2347035383849,0068249026
13,2024-12-09 07:22:40.098111+00:00,250,5000,success,2024-12-23 23:00:00+00:00,2024-12-16 02:50:25.904000+00:00,270,217,Olaniyi,Peter,22317451126,Male,1995-09-12,lekki,5,2348103607971,2011613178
14,2024-12-05 14:25:19.785466+00:00,250,5000,success,2024-12-19 23:00:00+00:00,2024-12-19 06:32:31.023000+00:00,210,175,Kio,Solomon,22184560941,Male,1992-10-09,ABUJA STR FEDERAL COLLEGE ROAD,28,2347059408541,3102655937
15,2025-01-07 09:42:36.036213+00:00,250,5000,success,2025-01-21 23:00:00+00:00,2025-01-31 05:40:54.531000+00:00,527,464,Akpa,Christian,22782099724,Male,2006-09-12,None,20,821076737328,8108460473
16,2025-01-03 08:51:50.917323+00:00,250,5000,success,2025-01-17 23:00:00+00:00,2025-01-16 11:04:53.896000+00:00,418,323,Akinnika,Bukola,22376327563,Female,1995-10-16,6 okebola ado ekiti,18,2349151457435,8100804690
17,2025-01-09 09:14:00.326389+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-22 07:47:33.224000+00:00,549,494,Nwokoro,Emmanuel,22487574748,Male,2000-08-06,PLOT 109 Residential Layout Sharia Court Road ...,25,2347031180414,9020755147
18,2024-12-03 11:44:10.138734+00:00,250,5000,success,2024-12-18 23:00:00+00:00,2024-12-20 02:20:54.246000+00:00,75,58,Gbadebo,Gbenga,22152347455,Male,1990-06-07,12 ODO OBA LANE BARUWA IPAJA,8,2347051596776,7051596776
19,2024-12-10 06:12:41.958640+00:00,100,2000,success,2024-12-24 23:00:00+00:00,2024-12-22 18:51:45.165000+00:00,63,51,Oke,Theresa,22326313833,Female,1994-11-23,No 3 unity road atan ota Ogun state,27,2349122481777,7048086205
20,2024-12-09 16:42:33.634498+00:00,250,5000,success,2024-12-23 23:00:00+00:00,2024-12-23 14:53:45.385000+00:00,30,42,Abdulkareem,Ismaila,22171462267,Male,1983-04-16,NIGER ROAD,6,2347049693118,8135911061
21,2024-12-11 11:41:45.630741+00:00,250,5000,success,2024-12-25 23:00:00+00:00,2024-12-26 04:56:48.230000+00:00,310,240,Isong,Samuel,22699705055,Male,2000-07-15,warri street,9,2347046583626,9163957001
22,2024-12-30 01:38:36.811600+00:00,250,5000,success,2025-01-13 23:00:00+00:00,2025-01-07 00:31:22.558000+00:00,488,414,Njoku,Daniel,22144967478,Male,1992-05-03,9 Bolanle Odekoya Owutu Ikorodu Lagos,11,2348131983957,3061931579
23,2025-01-02 11:12:30.195124+00:00,250,5000,success,2025-01-16 23:00:00+00:00,2025-01-16 04:24:43.459000+00:00,489,416,Adesakin,Timothy,22199858589,Male,1989-05-04,Km 1 Seme Badagry Express Way Lagos State,14,2348166463186,8169799727
24,2024-12-30 11:21:43.143074+00:00,250,5000,success,2025-01-13 23:00:00+00:00,2025-01-14 05:13:01.902000+00:00,127,353,Yinusa,Nurudeen,22620140513,Male,1996-09-09,None,15,2349034843372,9034843372
25,2025-01-09 10:43:35.840052+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-13 07:24:01.586000+00:00,522,458,Nuhu,Ibrahim,22383518086,Male,1985-02-05,4 Adenubi close,33,2349155423748,0216356150
26,2025-01-08 07:40:40.081134+00:00,250,5000,success,2025-01-22 23:00:00+00:00,2025-01-31 05:43:33.590000+00:00,534,472,Ajeta,Isaiah,22332844727,Male,1995-10-13,Not Available,21,2347064962638,7064962638
27,2025-01-09 08:06:09.364294+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-24 04:45:12.631000+00:00,523,462,Ejenavi,Endurance,22187530343,Male,1993-03-16,Not Available,26,2348136808288,2064243542
28,2025-01-10 11:29:15.405840+00:00,1000,5000,success,2025-01-24 23:00:00+00:00,2025-01-24 12:12:59.557000+00:00,109,98,Ogbein,Achieved,22631473659,Male,2002-09-10,3JOHNSON SAMIYI STREET CANAL ESTATE OKOTA,16,2347026053656,7026053656
29,2025-01-11 16:45:20.745736+00:00,250,5000,success,2025-01-25 23:00:00+00:00,2025-01-22 08:14:08.974000+00:00,558,505,Felix,Mary,22635715593,Female,2003-03-13,falana street ado ekiti,30,2348141661223,8141661223
30,2025-01-09 01:45:37.331767+00:00,250,5000,success,2025-01-23 23:00:00+00:00,2025-01-11 01:00:25.654000+00:00,488,415,Njoku,Daniel,22144967478,Male,1992-05-03,9 Bolanle Odekoya Owutu Ikorodu Lagos,11,2348131983957,8131983957
31,2025-01-12 12:08:05.249175+00:00,250,5000,success,2025-01-26 23:00:00+00:00,NaT,559,504,Blessing,Akinnika,22641181348,Male,1999-12-27,None,31,2348147393740,8168328010
32,2025-01-10 15:12:19.121746+00:00,250,5000,success,2025-01-24 23:00:00+00:00,2025-01-25 20:42:33.338000+00:00,539,489,Ononiwu,Emmanuel,22453139313,Male,2000-12-19,16 DORCAS ELESHO STR,24,2348079810543,8079810543
33,2025-01-10 10:27:48.508587+00:00,250,5000,success,2025-01-24 23:00:00+00:00,2025-01-23 23:40:30.386000+00:00,546,491,Abah,Joel,22178202424,Male,1989-03-15,8 oshiogoro street before balogu Bs iju ishag...,29,2349078230804,0163654943
34,2025-01-11 16:09:39.502872+00:00,250,5000,success,2025-01-25 23:00:00+00:00,NaT,569,513,Omeleh,Enize,22449325779,Female,1994-07-31,None,34,2348030508355,8030508355
35,2025-01-14 08:12:05.380902+00:00,250,5000,success,2025-01-28 23:00:00+00:00,2025-01-25 14:21:25.255000+00:00,612,548,Isiyaku,Fahad,22701341992,Male,1990-12-17,None,39,2348068462492,8068462492
36,2025-01-03 11:02:09.067016+00:00,250,5000,success,2025-01-17 23:00:00+00:00,2025-01-31 05:18:09.044000+00:00,98,436,Hameed,Rasheed,22173572586,Male,1972-12-21,76 EDUN STREET ILORIN Ilorin South Kwara State,17,2348037228723,3152263064
37,2025-01-13 11:06:57.430747+00:00,250,5000,success,2025-01-27 23:00:00+00:00,2025-01-31 09:32:58.045000+00:00,577,521,Emmanuel,Akinjimi,22318709613,Male,1990-12-16,22 olorun ni shola street olorun ogun state ota,36,2348135960555,8135960555
38,2025-01-03 06:46:23.356491+00:00,250,5000,success,2025-01-17 23:00:00+00:00,2025-01-15 21:28:53.790000+00:00,109,98,Ogbein,Achieved,22631473659,Male,2002-09-10,3JOHNSON SAMIYI STREET CANAL ESTATE OKOTA,16,2347026053656,7026053656
39,2025-01-14 21:18:34.777539+00:00,250,5000,success,2025-01-28 23:00:00+00:00,2025-02-02 07:03:02.605000+00:00,580,565,Badmus,Yusuff,22314914572,Male,1977-11-28,22 OLAONIPEKUN STREET VESPERS IFO AREA,41,2349117401448,0077189186
40,2025-01-04 11:12:08.537885+00:00,250,5000,success,2025-01-18 23:00:00+00:00,2025-01-20 05:19:06.755000+00:00,515,449,Akinyede,Akintunde,22325736431,Male,1984-06-20,no 6 oke bola str ado ekiti,19,2347033390455,0114542965
41,2025-01-15 08:12:16.212826+00:00,250,5000,success,2025-01-29 23:00:00+00:00,NaT,613,552,Shuaibu,Maryam,22480882112,Female,1991-01-01,Kanti katoge,37,2347034874112,7034874112
42,2025-01-22 17:03:11.515491+00:00,1000,5000,success,2025-02-05 23:00:00+00:00,2025-02-05 05:35:48.850000+00:00,558,505,Felix,Mary,22635715593,Female,2003-03-13,falana street ado ekiti,30,2348141661223,8141661223
43,2025-01-16 07:55:48.267643+00:00,1000,5000,success,2025-01-30 23:00:00+00:00,2025-01-28 21:14:09.502000+00:00,109,98,Ogbein,Achieved,22631473659,Male,2002-09-10,3JOHNSON SAMIYI STREET CANAL ESTATE OKOTA,16,2347026053656,7026053656
44,2025-01-29 08:20:21.720930+00:00,1000,5000,success,2025-02-12 23:00:00+00:00,NaT,109,98,Ogbein,Achieved,22631473659,Male,2002-09-10,3JOHNSON SAMIYI STREET CANAL ESTATE OKOTA,16,2347026053656,7026053656
45,2025-01-17 10:01:01.528618+00:00,250,5000,success,2025-01-31 23:00:00+00:00,2025-01-31 05:21:52.759000+00:00,642,584,Turton,Gabriel,22451391742,Male,1988-07-17,14 15 Prince Alaba Oniru Road Victoria Island,43,2348060429340,8060429340
46,2025-01-21 05:33:57.136599+00:00,1000,5000,success,2025-02-04 23:00:00+00:00,NaT,515,449,Akinyede,Akintunde,22325736431,Male,1984-06-20,no 6 oke bola str ado ekiti,19,2347033390455,0114542965
47,2025-01-31 08:24:52.810553+00:00,250,5000,success,2025-02-14 23:00:00+00:00,NaT,488,415,Njoku,Daniel,22144967478,Male,1992-05-03,9 Bolanle Odekoya Owutu Ikorodu Lagos,11,2348131983957,8131983957
48,2025-01-21 10:43:25.297585+00:00,250,5000,success,2025-02-04 23:00:00+00:00,2025-01-21 12:59:53.526000+00:00,668,616,Yau,Nura,22190269223,Male,1986-02-07,SHARGALLE S GARI,45,2349063265888,6020601607
49,2025-01-21 20:41:21.374240+00:00,1000,5000,success,2025-02-04 23:00:00+00:00,NaT,668,624,Yau,Nura,22190269223,Male,1986-02-07,SHARGALLE S GARI,45,2349063265888,1006455377
50,2025-01-18 07:03:28.494314+00:00,250,5000,success,2025-02-01 23:00:00+00:00,2025-02-01 02:37:47.588000+00:00,417,587,Adaro,Damian,22187413534,Male,1995-09-18,LODGE GIDAN KWANU MINNA UND ST KPAKUNGU MINNA,42,2347056427266,9045153000
51,2025-01-15 10:11:17.339986+00:00,1000,5000,success,2025-01-31 23:00:00+00:00,2025-01-31 14:37:45.045000+00:00,613,552,Shuaibu,Maryam,22480882112,Female,1991-01-01,Kanti katoge,37,2347034874112,7034874112
52,2025-01-16 12:37:37.902750+00:00,250,5000,success,2025-01-30 23:00:00+00:00,NaT,418,323,Akinnika,Bukola,22376327563,Female,1995-10-16,6 okebola ado ekiti,18,2349151457435,8100804690
53,2025-01-19 08:18:02.566092+00:00,250,5000,success,2025-02-02 23:00:00+00:00,2025-01-24 19:46:18.053000+00:00,663,608,Gbadebo,Moshood,22149970699,Male,1993-11-19,16 Stephen Aroyame Street,44,2348167521264,1560989402
54,2025-01-15 08:46:49.210218+00:00,1000,5000,success,2025-01-29 23:00:00+00:00,2025-01-28 09:38:55.176000+00:00,109,98,Ogbein,Achieved,22631473659,Male,2002-09-10,3JOHNSON SAMIYI STREET CANAL ESTATE OKOTA,16,2347026053656,7026053656
55,2025-01-16 08:36:20.339028+00:00,250,5000,success,2025-01-31 23:00:00+00:00,NaT,614,551,Oluwagbenga,Prosper,22430390647,Male,2000-07-09,PLOT 3 BLOCK 24 OLUSEGUN TAWOJU STREET ISHERI N,40,2348147482142,9168948932
56,2025-01-28 19:46:07.492191+00:00,250,5000,success,2025-02-11 23:00:00+00:00,NaT,696,634,Umar,Khalid,22633356431,Male,2005-01-21,None,46,2348039373012,8039373012
57,2025-02-03 10:55:28.079176+00:00,250,5000,success,2025-02-17 23:00:00+00:00,NaT,7,338,Oyetunde,Boluwatife,22496456697,Male,2001-05-22,11 EKUNDAYO CLOSE TOLL GATE,32,2347014348260,7033026515

# CRC_1번_시트

In [7]:
# Individual Borrower 데이터프레임 생성
individual_borrower = pd.DataFrame()

# 각 컬럼에 대한 값 설정
individual_borrower['Customer ID'] = df_loan_total['cbKey']
individual_borrower['Branch Code'] = '001'  # 모두 동일
individual_borrower['Surname'] = df_loan_total['lastName']
individual_borrower['First name'] = df_loan_total['firstName']
individual_borrower['Date of Birth'] = df_loan_total['birthDate']
individual_borrower['BVN No'] = df_loan_total['bvn']
individual_borrower['Gender'] = df_loan_total['gender'].apply(lambda x: '001' if x == 'Male' else '002')
individual_borrower['Nationality'] = 'NG'  # 모두 동일
individual_borrower['Primary Address Line 1'] = df_loan_total['address']
individual_borrower['Primary Country'] = 'NG'  # 모두 동일

# BVN No 중복 제거 (첫 번째만 남기고 삭제)
individual_borrower = individual_borrower.drop_duplicates(subset=['BVN No'], keep='first')
individual_borrower['Date of Birth'] = pd.to_datetime(individual_borrower['Date of Birth']).dt.strftime('%d/%m/%Y')

# 결과 확인
individual_borrower.to_csv('crc_individual_borrower.csv')

# CRC_2번_시트

In [8]:
from datetime import datetime

# Credit Information 데이터프레임 생성
credit_information = pd.DataFrame()

# 각 컬럼에 대한 값 설정
credit_information['Customer ID'] = df_loan_total['cbKey']
credit_information['Account Number'] = df_loan_total['accountNumber']
credit_information['Account Status'] = df_loan_total['repaidAt'].isnull().replace({True: 'Open', False: 'Closed'})
credit_information['Loan (Facility) Amount/Availed Limit'] = df_loan_total['amount']
credit_information['Outstanding balance'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Currency'] = 'NGN'  # 모두 동일

# Days in arrears 계산
credit_information['Days in arrears'] = df_loan_total.apply(
    lambda row: max(0, (datetime.now().date() - row['repaymentDueDate'].date()).days) if pd.isnull(row['repaidAt']) 
    else max(0, (row['repaidAt'].date() - row['repaymentDueDate'].date()).days), axis=1
)

credit_information['Overdue amount'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Loan (Facility) type'] = '40'  # 모두 동일
credit_information['Maturity date'] = df_loan_total['repaymentDueDate']
credit_information['Loan Classification'] = df_loan_total.apply(
    lambda row: 'Lost' if pd.isnull(row['repaidAt']) and (datetime.now().date() - row['repaymentDueDate'].date()).days > 21 else 'Performing', axis=1
)

# 결과 확인
credit_information.to_csv('crc_credit_information.csv')

# CreditRegistry_1번_시트

In [9]:
# Individual Borrower 데이터프레임 생성
individual_borrower = pd.DataFrame()

# 각 컬럼에 대한 값 설정
individual_borrower['CustomerID'] = df_loan_total['cbKey']
individual_borrower['Surname'] = df_loan_total['lastName']
individual_borrower['First name'] = df_loan_total['firstName']
individual_borrower['Date of Birth'] = df_loan_total['birthDate']
individual_borrower['BVN No'] = df_loan_total['bvn']
individual_borrower['Gender'] = df_loan_total['gender'].apply(lambda x: 'M' if x == 'Male' else 'F')
individual_borrower['Borrower Type'] = 'I'  # 모두 동일

# BVN No 중복 제거 (첫 번째만 남기고 삭제)
individual_borrower = individual_borrower.drop_duplicates(subset=['BVN No'], keep='first')
individual_borrower['Date of Birth'] = pd.to_datetime(individual_borrower['Date of Birth']).dt.strftime('%d/%m/%Y')

individual_borrower.to_csv('CreditRegistry_individual_borrower.csv')

# CreditRegistry_2번_시트

In [10]:
from datetime import datetime

# Credit Information 데이터프레임 생성
credit_information = pd.DataFrame()

# 각 컬럼에 대한 값 설정
credit_information['Customer ID'] = df_loan_total['cbKey']
credit_information['Account Number'] = df_loan_total['accountNumber']
credit_information['Account Status'] = df_loan_total['repaidAt'].isnull().replace({True: 'Open', False: 'Closed'})
credit_information['Account status date'] = df_loan_total['createdAt']
credit_information['Date of loan (facility) disbursement/Loan effective date'] = df_loan_total['createdAt']
credit_information['Credit limit/Facility amount/Global limit'] = ''  # 모두 동일
credit_information['Loan (Facility) Amount/Availed Limit'] = df_loan_total['amount']
credit_information['Outstanding balance'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Instalment amount'] = ''  # 모두 동일
credit_information['Currency'] = 'NGN'  # 모두 동일
# Days in arrears 계산
credit_information['Days in arrears'] = df_loan_total.apply(
    lambda row: max(0, (datetime.now().date() - row['repaymentDueDate'].date()).days) if pd.isnull(row['repaidAt']) 
    else max(0, (row['repaidAt'].date() - row['repaymentDueDate'].date()).days), axis=1
)
credit_information['Overdue amount'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Loan (Facility) type'] = 'Personal Loan'  # 모두 동일


#######################
credit_information['Loan (Facility) Tenor'] = 11




credit_information['Repayment frequency'] = '14 days'  # 모두 동일

credit_information['Last payment date'] = df_loan_total.apply(
    lambda row: row['repaidAt'] if pd.notnull(row['repaidAt']) else '', axis=1
)
credit_information['Last payment amount'] =  df_loan_total.apply(
    lambda row: row['amount'] + row['interest'] if pd.notnull(row['repaidAt']) else '', axis=1
)
credit_information['Maturity date'] = df_loan_total['repaymentDueDate']
credit_information['Loan Classification'] = df_loan_total.apply(
    lambda row: 'Lost' if pd.isnull(row['repaidAt']) and (datetime.now().date() - row['repaymentDueDate'].date()).days > 21 else 'Performing', axis=1
)
credit_information['Legal Challenge Status'] = 'No'  # 모두 동일
credit_information['Litigation Date'] = ''  # 모두 동일
credit_information['Consent Status'] = 'Yes'  # 모두 동일
credit_information['Loan Security Status'] = 'No'  # 모두 동일


# 년/월/일 형식 변경
credit_information['Account status date'] = pd.to_datetime(credit_information['Account status date']).dt.strftime('%d/%m/%Y')
credit_information['Date of loan (facility) disbursement/Loan effective date'] = pd.to_datetime(credit_information['Date of loan (facility) disbursement/Loan effective date']).dt.strftime('%d/%m/%Y')
credit_information['Maturity date'] = pd.to_datetime(credit_information['Maturity date']).dt.strftime('%d/%m/%Y')
credit_information['Last payment date'] = pd.to_datetime(credit_information['Last payment date']).dt.strftime('%d/%m/%Y')

# 결과 확인
credit_information.to_csv('CreditRegistry_credit_information.csv')

# FirstCentral_1번_시트

In [11]:
# Individual Borrower 데이터프레임 생성
individual_borrower = pd.DataFrame()

# 각 컬럼에 대한 값 설정
individual_borrower['CustomerID'] = df_loan_total['cbKey']
individual_borrower['Branch Code'] = ''
individual_borrower['Surname'] = df_loan_total['lastName']
individual_borrower['First name'] = df_loan_total['firstName']
individual_borrower['Date of Birth'] = df_loan_total['birthDate']
individual_borrower['BVN No'] = df_loan_total['bvn']
individual_borrower['Gender'] = df_loan_total['gender']
individual_borrower['Nationality'] = 'NG'
individual_borrower['Marital Status'] = ''
individual_borrower['Mobile number'] = df_loan_total['csChannelId']
individual_borrower['Primary Address Line 1'] = df_loan_total['address']
individual_borrower['Primary Address Line 2'] = ''
individual_borrower['Primary city/LGA'] = ''
individual_borrower['Primary State'] = ''
individual_borrower['Primary Country'] = 'NG'
individual_borrower['Employment Status'] = ''
individual_borrower['Occupation'] = ''
individual_borrower['Business Category'] = ''
individual_borrower['Business Sector'] = ''
individual_borrower['Borrower Type'] = ''  # 모두 동일



# BVN No 중복 제거 (첫 번째만 남기고 삭제)
individual_borrower = individual_borrower.drop_duplicates(subset=['BVN No'], keep='first')
individual_borrower['Date of Birth'] = pd.to_datetime(individual_borrower['Date of Birth']).dt.strftime('%d/%m/%Y')

individual_borrower.to_csv('FirstCentral_individual_borrower.csv')

# FirstCentral_2번_시트

In [12]:
from datetime import datetime

# Credit Information 데이터프레임 생성
credit_information = pd.DataFrame()

# 각 컬럼에 대한 값 설정
credit_information['Customer ID'] = df_loan_total['cbKey']
credit_information['Account Number'] = df_loan_total['accountNumber']
credit_information['Account Status'] = df_loan_total['repaidAt'].isnull().replace({True: '001', False: '002'})
credit_information['Account status date'] = df_loan_total['createdAt']
credit_information['Date of loan (facility) disbursement/Loan effective date'] = df_loan_total['createdAt']
credit_information['Credit limit/Facility amount/Global limit'] = ''  # 모두 동일\
credit_information['Loan (Facility) Amount/Availed Limit'] = df_loan_total['amount']
credit_information['Outstanding balance'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Currency'] = 'NG'  # 모두 동일

# Days in arrears 계산
credit_information['Days in arrears'] = df_loan_total.apply(
    lambda row: max(0, (datetime.now().date() - row['repaymentDueDate'].date()).days) if pd.isnull(row['repaidAt']) 
    else max(0, (row['repaidAt'].date() - row['repaymentDueDate'].date()).days), axis=1
)

credit_information['Overdue amount'] = df_loan_total.apply(
    lambda row: 0 if pd.notnull(row['repaidAt']) else row['amount'] + row['interest'], axis=1
)
credit_information['Loan (Facility) type'] = 40 # 모두 동일
#######################
credit_information['Loan (Facility) Tenor'] = 11
credit_information['Repayment frequency'] = 2  # 모두 동일
credit_information['Last payment date'] = df_loan_total.apply(
    lambda row: row['repaidAt'] if pd.notnull(row['repaidAt']) else '', axis=1
)
credit_information['Last payment amount'] =  df_loan_total.apply(
    lambda row: row['amount'] + row['interest'] if pd.notnull(row['repaidAt']) else '', axis=1
)
credit_information['Maturity date'] = df_loan_total['repaymentDueDate']
credit_information['Loan Classification'] = df_loan_total.apply(
    lambda row: '005' if pd.isnull(row['repaidAt']) and (datetime.now().date() - row['repaymentDueDate'].date()).days > 21 else '001', axis=1
)


credit_information['Marital Status'] = ''  # 모두 동일
credit_information["Spouse's Name"] = ''  # 모두 동일


credit_information['Legal Challenge Status'] = 'No'  # 모두 동일
credit_information['Litigation Date'] = ''  # 모두 동일
credit_information['Consent Status'] = 'Yes'  # 모두 동일
credit_information['Loan Security Status'] = 'No'  # 모두 동일



# 년/월/일 형식 변경
credit_information['Account status date'] = pd.to_datetime(credit_information['Account status date']).dt.strftime('%d/%m/%Y')
credit_information['Date of loan (facility) disbursement/Loan effective date'] = pd.to_datetime(credit_information['Date of loan (facility) disbursement/Loan effective date']).dt.strftime('%d/%m/%Y')
credit_information['Maturity date'] = pd.to_datetime(credit_information['Maturity date']).dt.strftime('%d/%m/%Y')
credit_information['Last payment date'] = pd.to_datetime(credit_information['Last payment date']).dt.strftime('%d/%m/%Y')


# 결과 확인
credit_information.to_csv('FirstCentral_credit_information.csv')