In [9]:
from sshtunnel import SSHTunnelForwarder
import paramiko
import pandas as pd
import neo4j as neo
from neo4j import GraphDatabase
import psycopg2 as pg
from datetime import datetime, timedelta
import psycopg2
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials
from sshtunnel import SSHTunnelForwarder
from dbutils.pooled_db import PooledDB

In [10]:
# Neo4j 연결 함수 정의
def create_neo4j_connection(uri, username="neo4j", password="s8713753!@"):
    driver = GraphDatabase.driver('bolt://localhost:7687', auth=(username, password), max_connection_lifetime=3600*24*30, keep_alive=True)
    return driver

# Neo4j 연결 생성
driver = create_neo4j_connection("bolt://localhost:7687")

# 연결 테스트
def test_connection(driver):
    with driver.session() as session:
        result = session.run("MATCH (n) RETURN count(n) as count")
        count = result.single()["count"]
        print(f"데이터베이스의 총 노드 수: {count}")

# 연결 테스트 실행
test_connection(driver)

# 사용이 끝난 후에는 반드시 연결을 닫아주세요
# neo4j_driver.close()

데이터베이스의 총 노드 수: 643

In [11]:
ssh_host = 'api.trustyapp.io'
ssh_username = 'ubuntu'
ssh_pem_file = 'ng-prod.pem'
database_host = '127.0.0.1'  # SSH 터널을 통해 localhost로 접근
database_name = 'trusty'
database_username = 'server'
database_password = 'ygFAhsyTMDzB21VdLTnoq7djxwjDNzuc9yPGukm73otXER8ihD'

server = SSHTunnelForwarder(
    (ssh_host, 22),  # SSH 서버 주소와 포트
    ssh_username=ssh_username,
    ssh_pkey=ssh_pem_file,  # Private key 파일 경로
    remote_bind_address=(database_host, 5432)  # 원격 MySQL 서버 주소와 포트
)

server.start()

conn = psycopg2.connect(
    host='127.0.0.1',  # localhost를 통해 SSH 터널로 접속
    user=database_username,
    password=database_password,
    database=database_name,
    port=server.local_bind_port  # sshtunnel이 자동으로 할당한 포트
)

In [12]:
qry = '''
SELECT  "id", "uuid", "username", "createdAt", "firstName", "middleName", "lastName", "birthDate", "bvnCertStatus", "csChannelVerifiedAt", "earningCertStatus", "cbCheckedAt", "creditLimit", "remainingLimit", "usedFirstPromoAt", "membershipLevel", "helperFriendChosenAt", "helperId", "installHelperId", "contactsAppPrivacyAgreedAt", "helpedUserCount"
FROM "user";
'''

df = pd.read_sql(qry, conn)
df

,id,uuid,username,createdAt,firstName,middleName,lastName,birthDate,bvnCertStatus,csChannelVerifiedAt,...,cbCheckedAt,creditLimit,remainingLimit,usedFirstPromoAt,membershipLevel,helperFriendChosenAt,helperId,installHelperId,contactsAppPrivacyAgreedAt,helpedUserCount
0,6,69a9cc07-d491-48d0-a51f-a5805571ea5b,Ayfaymenah,2024-10-24 11:52:10.045794+00:00,Efe,None,Umolo,1990-06-04,approved,2024-11-14 05:48:53.732000+00:00,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
1,8,4ebe1170-c8c4-4d29-b680-5aa2eef544d8,Angelopeters1,2024-11-04 13:31:44.078665+00:00,Timothy,Emeka,Eze,1997-09-15,approved,2024-11-04 13:34:54.688000+00:00,...,NaT,5000,5000,NaT,bronze,2024-11-05 05:10:41.878000+00:00,4.0,NaN,NaT,0
2,10,52783d88-fa0a-40f3-85c0-350965a6f80f,Gold,2024-11-06 08:31:08.047980+00:00,Gbenga,None,Gbadebo,None,initialized,NaT,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
3,3,0c4235dd-437b-4913-b90b-e74761b639fe,Jonathan,2024-10-24 11:14:44.027384+00:00,Jonathan,Olusola,Omoluabi,1997-12-06,approved,2024-11-13 05:04:56.442000+00:00,...,2024-11-13 10:54:20.859000+00:00,5000,5000,NaT,bronze,2024-11-13 05:11:14.024000+00:00,NaN,NaN,NaT,0
4,27,ceb0731e-1aaa-4969-80ea-4cb53cef8eb5,olawore,2024-11-14 16:30:23.470196+00:00,Ojo,Akabi,Olawore,1995-05-05,approved,2024-11-26 01:09:33.110000+00:00,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,736,3079c4cd-4ffb-4fc2-873e-1f0d2e633af2,Ademor22,2025-01-30 15:59:28.854997+00:00,Olumide,Ademola,Odesanya,None,initialized,NaT,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
731,728,ec909410-a8c6-4f04-b97e-06ca7b79d411,Philips33,2025-01-29 15:45:43.773604+00:00,Ugochukwu,Philip,Okereke,1998-10-15,approved,2025-01-29 15:48:33.127000+00:00,...,NaT,0,0,NaT,None,NaT,NaN,NaN,2025-01-29 15:52:47.920000+00:00,0
732,732,93947b83-1b90-417a-9e10-57d7fad81a2e,Dotun,2025-01-30 08:12:46.865036+00:00,Adedotun,Joseph,Adebowale,1965-08-29,approved,2025-01-30 08:14:02.005000+00:00,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
733,733,9a55fa3e-683b-4cdc-a750-8d30e4c8e5c4,ibrahimshitta@yahoo.com,2025-01-30 12:36:47.921830+00:00,Ibrahim,Adeolu,Shitta,None,initialized,NaT,...,NaT,0,0,NaT,None,NaT,NaN,NaN,NaT,0
734,169,75f2125a-a351-4dab-b60f-b12f12330994,glenudi88,2024-11-27 13:49:36.646416+00:00,Gladys,Nkem,Enudi,1988-03-04,approved,2024-11-27 13:56:18.956000+00:00,...,NaT,0,0,NaT,None,NaT,NaN,NaN,2024-11-27 13:53:02.281000+00:00,0

In [13]:
users = df.to_dict(orient='records')

# Timestamp를 문자열로 변환
for user in users:
    user['createdAt'] = user['createdAt'].isoformat() if pd.notnull(user['createdAt']) else None
    user['csChannelVerifiedAt'] = user['csChannelVerifiedAt'].isoformat() if pd.notnull(user['csChannelVerifiedAt']) else None
    user['cbCheckedAt'] = user['cbCheckedAt'].isoformat() if pd.notnull(user['cbCheckedAt']) else None
    user['usedFirstPromoAt'] = user['usedFirstPromoAt'].isoformat() if pd.notnull(user['usedFirstPromoAt']) else None
    user['birthDate'] = user['birthDate'].isoformat() if pd.notnull(user['birthDate']) else None
    user['contactsAppPrivacyAgreedAt'] = user['contactsAppPrivacyAgreedAt'].isoformat() if pd.notnull(user['contactsAppPrivacyAgreedAt']) else None
    user['helperFriendChosenAt'] = user['helperFriendChosenAt'].isoformat() if pd.notnull(user['helperFriendChosenAt']) else None

qry = '''
    UNWIND $users AS user
    MERGE (u:User {id: user.id})
    SET u.uuid = user.uuid,
        u.username = user.username,
        u.createdAt = user.createdAt,
        u.firstName = user.firstName,
        u.middleName = user.middleName,
        u.lastName = user.lastName,
        u.birthDate = user.birthDate,
        u.bvnCertStatus = user.bvnCertStatus,
        u.csChannelVerifiedAt = user.csChannelVerifiedAt,
        u.earningCertStatus = user.earningCertStatus,
        u.cbCheckedAt = user.cbCheckedAt,
        u.creditLimit = user.creditLimit,
        u.remainingLimit = user.remainingLimit,
        u.usedFirstPromoAt = user.usedFirstPromoAt,
        u.membershipLevel = user.membershipLevel,
        u.contactsAppPrivacyAgreedAt = user.contactsAppPrivacyAgreedAt,
        u.helperFriendChosenAt = user.helperFriendChosenAt;
'''

with driver.session() as session:
    session.run(qry, users=users)

In [14]:
qry = '''
    UNWIND $users AS user
    MATCH (u:User {id: user.id})
    OPTIONAL MATCH (hu: User {id: user.helperId})
    WITH u, hu WHERE hu IS NOT NULL
    MERGE (u)-[:HELPED]->(hu);
'''

with driver.session() as session:
    session.run(qry, users=users)

In [15]:
qry = '''
    UNWIND $users AS user
    MATCH (u:User {id: user.id})
    OPTIONAL MATCH (ihu: User {id: user.installHelperId})
    WITH u, ihu WHERE ihu IS NOT NULL
    MERGE (u)-[:INSTALL_HELPED]->(ihu);
'''

with driver.session() as session:
    session.run(qry, users=users)

In [16]:
qry = '''
    SELECT "friendship"."userId", "friend"."userId"
    FROM "friendship"
    INNER JOIN "personal_identifier" "friend" ON "friendship"."friendId" = "friend"."userId"
    WHERE "friend"."userId" IS NOT NULL
'''

with conn.cursor() as cursor:
    cursor.execute(qry)
    friendships = cursor.fetchall()

friendships

[(1, 440),
 (1, 442),
 (1, 456),
 (1, 457),
 (1, 468),
 (1, 472),
 (1, 474),
 (1, 477),
 (1, 478),
 (1, 483),
 (1, 485),
 (1, 519),
 (1, 537),
 (1, 538),
 (1, 556),
 (1, 564),
 (1, 585),
 (1, 586),
 (1, 598),
 (1, 602),
 (1, 613),
 (1, 620),
 (1, 621),
 (1, 637),
 (1, 644),
 (1, 651),
 (1, 652),
 (1, 696),
 (1, 718),
 (1, 726),
 (1, 3),
 (1, 16),
 (1, 21),
 (1, 47),
 (1, 50),
 (1, 52),
 (1, 60),
 (1, 66),
 (1, 112),
 (1, 114),
 (1, 116),
 (1, 126),
 (1, 173),
 (1, 175),
 (1, 146),
 (1, 155),
 (1, 156),
 (1, 158),
 (1, 160),
 (1, 162),
 (1, 163),
 (1, 168),
 (1, 199),
 (1, 200),
 (1, 257),
 (1, 262),
 (1, 235),
 (1, 238),
 (1, 239),
 (1, 240),
 (1, 241),
 (1, 244),
 (1, 245),
 (1, 508),
 (1, 322),
 (1, 324),
 (1, 356),
 (1, 359),
 (1, 369),
 (1, 370),
 (1, 373),
 (1, 374),
 (1, 377),
 (1, 387),
 (1, 390),
 (1, 392),
 (1, 394),
 (1, 410),
 (1, 443),
 (1, 446),
 (1, 448),
 (1, 452),
 (1, 488),
 (1, 505),
 (1, 516),
 (1, 522),
 (1, 523),
 (1, 524),
 (1, 714),
 (1, 543),
 (1, 547),
 (1, 551),
 (1, 580),
 (1, 600),
 (1, 604),
 (1, 607),
 (1, 619),
 (7, 631),
 (1, 631),
 (1, 634),
 (84, 635),
 (84, 635),
 (84, 635),
 (1, 635),
 (1, 661),
 (1, 663),
 (1, 664),
 (1, 672),
 (1, 683),
 (1, 711),
 (1, 717),
 (1, 733),
 (1, 735),
 (2, 1),
 (6, 1),
 (1, 18),
 (1, 37),
 (1, 38),
 (1, 40),
 (1, 57),
 (1, 59),
 (1, 384),
 (1, 77),
 (1, 79),
 (1, 84),
 (1, 95),
 (1, 108),
 (1, 110),
 (1, 120),
 (1, 122),
 (1, 185),
 (1, 201),
 (1, 207),
 (1, 208),
 (1, 254),
 (1, 260),
 (1, 255),
 (1, 218),
 (1, 220),
 (1, 221),
 (1, 273),
 (1, 276),
 (1, 278),
 (1, 281),
 (1, 509),
 (1, 284),
 (1, 288),
 (1, 290),
 (1, 292),
 (1, 299),
 (1, 302),
 (1, 492),
 (1, 499),
 (1, 501),
 (1, 306),
 (1, 312),
 (1, 313),
 (1, 327),
 (1, 329),
 (1, 341),
 (1, 344),
 (1, 345),
 (1, 504),
 (1, 574),
 (1, 575),
 (1, 642),
 (1, 650),
 (1, 699),
 (1, 700),
 (1, 701),
 (1, 26),
 (1, 33),
 (1, 55),
 (1, 62),
 (1, 63),
 (1, 72),
 (1, 92),
 (1, 100),
 (1, 97),
 (1, 103),
 (1, 107),
 (1, 109),
 (1, 133),
 (1, 176),
 (1, 177),
 (1, 180),
 (1, 182),
 (1, 188),
 (163, 190),
 (163, 190),
 (1, 190),
 (1, 194),
 (1, 264),
 (1, 512),
 (1, 491),
 (1, 414),
 (1, 415),
 (1, 417),
 (1, 418),
 (1, 419),
 (1, 420),
 (1, 426),
 (1, 428),
 (1, 429),
 (1, 430),
 (1, 461),
 (1, 462),
 (1, 464),
 (1, 465),
 (1, 467),
 (1, 469),
 (1, 470),
 (1, 471),
 (1, 473),
 (1, 476),
 (1, 479),
 (1, 480),
 (1, 482),
 (1, 713),
 (1, 533),
 (1, 535),
 (1, 549),
 (1, 584),
 (1, 587),
 (1, 588),
 (1, 589),
 (84, 645),
 (84, 645),
 (84, 645),
 (1, 645),
 (1, 656),
 (1, 657),
 (1, 668),
 (1, 689),
 (1, 716),
 (1, 722),
 (1, 724),
 (1, 725),
 (1, 727),
 (1, 728),
 (1, 4),
 (1, 85),
 (1, 6),
 (1, 22),
 (1, 48),
 (1, 58),
 (1, 61),
 (1, 81),
 (1, 83),
 (1, 86),
 (1, 102),
 (1, 115),
 (1, 125),
 (1, 143),
 (1, 150),
 (1, 152),
 (1, 154),
 (1, 165),
 (1, 166),
 (1, 195),
 (1, 184),
 (1, 250),
 (103, 202),
 (103, 202),
 (1, 202),
 (103, 202),
 (1, 204),
 (1, 225),
 (7, 232),
 (1, 232),
 (1, 237),
 (1, 246),
 (181, 506),
 (1, 506),
 (1, 307),
 (1, 357),
 (1, 362),
 (1, 366),
 (1, 368),
 (1, 376),
 (1, 391),
 (1, 397),
 (1, 399),
 (1, 400),
 (1, 401),
 (1, 408),
 (1, 437),
 (1, 450),
 (1, 515),
 (1, 570),
 (1, 525),
 (1, 527),
 (1, 528),
 (1, 530),
 (1, 536),
 (1, 544),
 (1, 546),
 (1, 552),
 (1, 572),
 (1, 624),
 (1, 625),
 (1, 627),
 (1, 577),
 (1, 579),
 (1, 582),
 (1, 599),
 (1, 608),
 (1, 610),
 (1, 614),
 (1, 616),
 (1, 618),
 (1, 628),
 (1, 629),
 (1, 630),
 (1, 632),
 (1, 653),
 (1, 655),
 (1, 662),
 (1, 674),
 (1, 675),
 (1, 677),
 (1, 680),
 (1, 684),
 (1, 685),
 (1, 687),
 (1, 691),
 (1, 705),
 (1, 707),
 (600, 710),
 (600, 710),
 (600, 710),
 (1, 710),
 (600, 710),
 (600, 710),
 (1, 732),
 (1, 2),
 (1, 15),
 (1, 46),
 (1, 68),
 (1, 69),
 (1, 71),
 (1, 124),
 (1, 119),
 (1, 136),
 (1, 197),
 (1, 205),
 (1, 206),
 (1, 253),
 (1, 259),
 (1, 212),
 (163, 222),
 (163, 222),
 (1, 222),
 (1, 233),
 (1, 234),
 (1, 270),
 (1, 272),
 (1, 274),
 (1, 279),
 (1, 280),
 (1, 293),
 (1, 295),
 (1, 296),
 (1, 297),
 (1, 301),
 (1, 496),
 (1, 497),
 (1, 311),
 (1, 495),
 (1, 314),
 (1, 315),
 (1, 317),
 (1, 333),
 (1, 338),
 (1, 339),
 (1, 340),
 (1, 346),
 (1, 350),
 (1, 351),
 (1, 502),
 (1, 503),
 (1, 553),
 (1, 555),
 (1, 557),
 (1, 592),
 (1, 594),
 (1, 646),
 (1, 647),
 (1, 660),
 (1, 698),
 (1, 702),
 (1, 720),
 (1, 730),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 567),
 (1, 25),
 (1, 42),
 (1, 45),
 (1, 65),
 (1, 78),
 (1, 101),
 (1, 94),
 (1, 96),
 (1, 111),
 (1, 129),
 (232, 129),
 (700, 129),
 (1, 139),
 (700, 189),
 (1, 189),
 (1, 192),
 (700, 192),
 (1, 413),
 (232, 416),
 (1, 416),
 (1, 422),
 (1, 425),
 (1, 432),
 (1, 433),
 (1, 439),
 (1, 445),
 (1, 449),
 (1, 453),
 (1, 455),
 (1, 486),
 (1, 487),
 (1, 507),
 (1, 510),
 (1, 514),
 (1, 529),
 (1, 548),
 (1, 562),
 (1, 578),
 (1, 581),
 (1, 609),
 (1, 612),
 (1, 615),
 (1, 633),
 (1, 654),
 (1, 671),
 (1, 673),
 (1, 679),
 (1, 681),
 (1, 686),
 (1, 688),
 (1, 692),
 (1, 693),
 (1, 697),
 (1, 704),
 (1, 8),
 (1, 17),
 (1, 53),
 (1, 56),
 (1, 67),
 (1, 87),
 (1, 90),
 (1, 123),
 (1, 106),
 (1, 121),
 (1, 138),
 (1, 142),
 (1, 258),
 (1, 252),
 (1, 210),
 (1, 211),
 (1, 214),
 (1, 215),
 (1, 261),
 (1, 217),
 (1, 228),
 (1, 568),
 (1, 267),
 (1, 268),
 (1, 269),
 (1, 271),
 (1, 277),
 (1, 285),
 (1, 286),
 (1, 300),
 (1, 493),
 (1, 305),
 (1, 309),
 (1, 498),
 (208, 318),
 (208, 318),
 (1, 318),
 (1, 328),
 (1, 330),
 (1, 334),
 (1, 337),
 (1, 343),
 (1, 712),
 (1, 521),
 (1, 554),
 (1, 571),
 (1, 576),
 (1, 583),
 (1, 591),
 (1, 593),
 (1, 641),
 (111, 648),
 (111, 648),
 (1, 648),
 (1, 649),
 (1, 658),
 (1, 659),
 (1, 666),
 (1, 703),
 (1, 709),
 (1, 729),
 (1, 731),
 (1, 736),
 (1, 5),
 (1, 565),
 (1, 12),
 (1, 19),
 (1, 23),
 (1, 32),
 (1, 41),
 (1, 91),
 (1, 93),
 (1, 172),
 (1, 98),
 (1, 104),
 (84, 105),
 (84, 105),
 (84, 105),
 (84, 105),
 (1, 105),
 (1, 130),
 (1, 135),
 (1, 178),
 (664, 196),
 (664, 196),
 (664, 196),
 (116, 196),
 (664, 196),
 (664, 196),
 (1, 196),
 (1, 191),
 (1, 193),
 (1, 248),
 (1, 490),
 (11, 490),
 (1, 513),
 (1, 412),
 (1, 427),
 (1, 434),
 (1, 435),
 (1, 441),
 (1, 460),
 (1, 463),
 (1, 475),
 (1, 481),
 (1, 484),
 (1, 517),
 (1, 518),
 (1, 532),
 (1, 534),
 (1, 539),
 (1, 596),
 (1, 601),
 (1, 622),
 (1, 623),
 (1, 638),
 (1, 667),
 (1, 669),
 (1, 670),
 (1, 690),
 (1, 719),
 (1, 723),
 (1, 566),
 (1, 24),
 (1, 43),
 (1, 44),
 (1, 74),
 (1, 75),
 (1, 76),
 (1, 99),
 (1, 113),
 (1, 127),
 (1, 128),
 (1, 134),
 (1, 140),
 (1, 147),
 (1, 151),
 (1, 153),
 (1, 159),
 (1, 164),
 (1, 167),
 (1, 169),
 (1, 179),
 (1, 183),
 (1, 203),
 (1, 223),
 (1, 224),
 (1, 226),
 (1, 247),
 (1, 489),
 (1, 511),
 (1, 320),
 (1, 321),
 (1, 325),
 (1, 352),
 (1, 353),
 (1, 358),
 (1, 360),
 (1, 361),
 (1, 363),
 (1, 365),
 (1, 371),
 (1, 372),
 (7, 372),
 (1, 375),
 (1, 379),
 (1, 381),
 (1, 386),
 (1, 388),
 (1, 389),
 (1, 393),
 (1, 395),
 (1, 403),
 (1, 406),
 (14, 406),
 (520, 409),
 (520, 409),
 (1, 409),
 (520, 409),
 (1, 569),
 (1, 520),
 (1, 542),
 (1, 561),
 (1, 665),
 (1, 708),
 (1, 721),
 (1, 14),
 (1, 29),
 (1, 30),
 (1, 31),
 (1, 34),
 (1, 35),
 (1, 36),
 (1, 64),
 (1, 88),
 (1, 171),
 (1, 131),
 (1, 174),
 (1, 132),
 (1, 145),
 (1, 181),
 (1, 186),
 (1, 187),
 (1, 249),
 (1, 411),
 (1, 421),
 (1, 423),
 (1, 424),
 (1, 431),
 (1, 458),
 (1, 459),
 (1, 466),
 (1, 540),
 (232, 541),
 (1, 541),
 (1, 550),
 (1, 590),
 (1, 595),
 (1, 597),
 (1, 636),
 (1, 639),
 (1, 640),
 (1, 643),
 (1, 695),
 (1, 715),
 (1, 7),
 (1, 20),
 (1, 27),
 (1, 49),
 (1, 51),
 (1, 73),
 (1, 82),
 (1, 117),
 (1, 141),
 (1, 144),
 (1, 148),
 (1, 149),
 (1, 157),
 (1, 161),
 (1, 198),
 (1, 256),
 (1, 216),
 (1, 230),
 (1, 231),
 (1, 236),
 (1, 242),
 (1, 243),
 (1, 308),
 (1, 323),
 (1, 354),
 (1, 355),
 (1, 364),
 (1, 367),
 (232, 380),
 (1, 380),
 (1, 382),
 (1, 383),
 (1, 385),
 (1, 396),
 (1, 398),
 (1, 402),
 (1, 404),
 (1, 405),
 (1, 407),
 (1, 436),
 (1, 438),
 (1, 444),
 (1, 447),
 (1, 451),
 (1, 454),
 (1, 526),
 (1, 531),
 (1, 545),
 (1, 558),
 (1, 559),
 (1, 560),
 (1, 573),
 (1, 563),
 (1, 626),
 (1, 603),
 (1, 605),
 (1, 606),
 (1, 617),
 (1, 676),
 (1, 678),
 (1, 682),
 (1, 694),
 (1, 706),
 (1, 734),
 (1, 170),
 (1, 13),
 (1, 28),
 (1, 39),
 (1, 54),
 (107, 70),
 (1, 70),
 (1, 89),
 (1, 118),
 (1, 137),
 (1, 251),
 (1, 263),
 (1, 209),
 (1, 213),
 (1, 219),
 (1, 227),
 (1, 229),
 (1, 265),
 (1, 266),
 (1, 275),
 (1, 282),
 (1, 283),
 (1, 287),
 (1, 289),
 (1, 291),
 (1, 294),
 (1, 298),
 (1, 303),
 (1, 500),
 (1, 494),
 (1, 310),
 (1, 316),
 (1, 319),
 (1, 326),
 (1, 331),
 (1, 332),
 (1, 335),
 (1, 336),
 (1, 342),
 (1, 347),
 (1, 348),
 (1, 349)]

In [17]:
qry = '''
    MATCH (u:User {id: $friendship.userId})
    MATCH (f:User {id: $friendship.friendId})
    MERGE (u)-[:HAS_CONTACT_OF]->(f);
'''

with driver.session() as session:
    for f in friendships:
        friendship = {
            'userId': f[0],
            'friendId': f[1]
        }
        session.run(qry, friendship=friendship)

In [18]:
qry = '''
    SELECT "userId", "guaranteeTargetId", "evaluationResult"
    FROM "guarantee"
    WHERE "evaluationResult" IS NOT NULL
'''

with conn.cursor() as cursor:
    cursor.execute(qry)
    guarantees = cursor.fetchall()

guarantees

[(613, 613, 'later'),
 (282, 416, 'later'),
 (75, 185, 'trust'),
 (75, 5, 'trust'),
 (63, 321, 'trust'),
 (63, 384, 'trust'),
 (63, 435, 'trust'),
 (30, 307, 'trust'),
 (127, 7, 'trust'),
 (489, 505, 'trust'),
 (30, 98, 'trust'),
 (418, 515, 'trust'),
 (134, 525, 'trust'),
 (109, 127, 'trust'),
 (109, 7, 'trust'),
 (134, 529, 'trust'),
 (612, 636, 'trust'),
 (488, 539, 'trust'),
 (668, 714, 'trust'),
 (488, 527, 'trust'),
 (534, 488, 'trust'),
 (534, 534, 'trust'),
 (668, 607, 'trust'),
 (11, 5, 'trust'),
 (11, 9, 'trust'),
 (11, 243, 'trust'),
 (527, 528, 'later'),
 (418, 643, 'trust'),
 (418, 645, 'trust'),
 (418, 637, 'trust'),
 (515, 643, 'trust'),
 (515, 572, 'trust'),
 (612, 646, 'trust'),
 (668, 628, 'trust'),
 (668, 636, 'trust'),
 (439, 656, 'later'),
 (527, 488, 'trust'),
 (127, 109, 'trust'),
 (127, 162, 'trust'),
 (515, 418, 'trust'),
 (515, 515, 'trust'),
 (506, 543, 'trust'),
 (7, 163, 'trust'),
 (7, 127, 'trust'),
 (7, 103, 'trust'),
 (7, 109, 'trust'),
 (418, 558, 'trust'),
 (668, 646, 'trust'),
 (515, 558, 'trust'),
 (515, 559, 'trust'),
 (558, 418, 'trust'),
 (558, 559, 'trust'),
 (558, 572, 'trust'),
 (558, 514, 'trust'),
 (558, 558, 'trust'),
 (558, 515, 'trust'),
 (559, 559, 'trust'),
 (559, 558, 'trust'),
 (559, 515, 'trust'),
 (559, 418, 'trust'),
 (418, 559, 'later'),
 (612, 607, 'trust'),
 (613, 608, 'later'),
 (612, 628, 'trust'),
 (418, 572, 'trust'),
 (668, 612, 'trust'),
 (668, 668, 'trust'),
 (668, 608, 'trust'),
 (418, 514, 'later'),
 (488, 719, 'trust'),
 (489, 503, 'trust'),
 (489, 504, 'trust'),
 (109, 627, 'trust'),
 (488, 528, 'trust'),
 (109, 162, 'trust'),
 (109, 198, 'later'),
 (613, 612, 'later'),
 (109, 103, 'later'),
 (491, 696, 'trust'),
 (580, 630, 'trust'),
 (612, 613, 'later'),
 (613, 636, 'later'),
 (668, 613, 'trust'),
 (613, 668, 'later'),
 (612, 608, 'trust'),
 (613, 646, 'later'),
 (612, 668, 'trust'),
 (612, 714, 'trust'),
 (488, 534, 'later'),
 (613, 628, 'later'),
 (613, 607, 'later'),
 (642, 486, 'trust')]

In [19]:
for g in guarantees:
    relation_name = 'TRUSTED' if g[2] == 'trust' else 'LATERED'
    qry = f'''
        MATCH (u:User {{id: $guarantee.userId}})
        MATCH (gt:User {{id: $guarantee.guaranteeTargetId}})
        MERGE (u)-[:{relation_name}]->(gt);
    '''
    with driver.session() as session:
        guarantee = {
            'userId': g[0],
            'guaranteeTargetId': g[1],
        }
        session.run(qry, guarantee=guarantee)

In [20]:
salary_users = [4,
5,
8,
11,
13,
20,
23,
30,
38,
75,
87,
98,
120,
125,
180,
216,
217,
245,
270,
282,
295,
295,
313,
410,
488,
506,
508,
515,
522,
527,
533,
534,
539,
546,
552,
562,
563,
573,
582,
583,
584,
598,
600,
602,
608,
612,
622,
635,
637]

In [21]:
for _id in salary_users:
    qry = f'''
    MATCH (u:User)
    WHERE u.id = {_id}
    SET u:salary_user
    '''

    with driver.session() as session:
        session.run(qry, users=users)

In [22]:
qry = '''
    MATCH (u:User)
    WHERE u.usedFirstPromoAt IS NOT NULL
    SET u:SilverUser
'''

with driver.session() as session:
    session.run(qry, users=users)

In [23]:
from datetime import datetime, timedelta
import psycopg2
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from sshtunnel import SSHTunnelForwarder
from dbutils.pooled_db import PooledDB

ssh_host = 'api.trustyapp.io'
ssh_username = 'ubuntu'
ssh_pem_file = 'ng-prod.pem'
database_host = '127.0.0.1'  # SSH 터널을 통해 localhost로 접근
database_name = 'trusty'
database_username = 'server'
database_password = 'ygFAhsyTMDzB21VdLTnoq7djxwjDNzuc9yPGukm73otXER8ihD'

server = SSHTunnelForwarder(
    (ssh_host, 22),  # SSH 서버 주소와 포트
    ssh_username=ssh_username,
    ssh_pkey=ssh_pem_file,  # Private key 파일 경로
    remote_bind_address=(database_host, 5432)  # 원격 MySQL 서버 주소와 포트
)

server.start()

conn = psycopg2.connect(
    host='127.0.0.1',  # localhost를 통해 SSH 터널로 접속
    user=database_username,
    password=database_password,
    database=database_name,
    port=server.local_bind_port  # sshtunnel이 자동으로 할당한 포트
)
cursor = conn.cursor()

qry = '''
    select "user_test"."targetUserId"
    from "user_test"
'''

cursor.execute(qry)
results = cursor.fetchall()

df = pd.DataFrame(results)
df.columns = ['test_id']  # 컬럼 이름 변경
test_id_list = list(df['test_id'])

# 쿼리 다 쓰면 ssh 터널 닫기
conn.close()
server.stop()

In [24]:
for _id in test_id_list:
    qry = f'''
    MATCH (u:User)
    WHERE u.id = {_id}
    SET u:test_user
    '''

    with driver.session() as session:
        session.run(qry, users=users)

In [25]:
conn.close()